.read {
    overflow-y: auto !important;

    button {
        text-align: center;
        color: white;
        background-color: dimgray;
        border-color: transparent;
        font-weight: bold;
        border-radius: 10px;
        font-size: 0.785rem;
    }
}