.loading {
    margin-top: -0.275rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden !important;
    padding: 0.2rem;

    //sample jumbotron code
    .jumbotron {
        background-color: transparent;
        position: relative;
        padding: 0.2rem !important;
        text-align: center;
        margin-bottom: 0 !important;
        font-family: myfont !important;
        overflow: hidden !important;
    }
    //sample jumbotron code

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.2rem;
    
        span {
            font-size: 3rem;
            letter-spacing: 0.185rem;    
            padding: 0.2rem;
        }
        
        div {
            margin-left: 0.5rem;
            margin-top: 0.3rem;
        }
    }
}

@media(max-width: 240px) {
    .loading {
        h1 {
            span {
                font-size: 3.35rem !important;
            }
        }
    }
}